{% extends '_layouts/base.njk' %}

{% block page_title %} {{ members.name }} {% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      {% block info %}<img src="img/members/{{ members.image }}" alt="Responsive image" class="img-fluid">
      {% endblock %}
    </div>
    <div class="col-sm-8">
      {% block story %}
      <h2 class= "title">{{ members.name }}</h2>
      <div class= "info">
        <p>Instruments: {{ members.instruments }}</p>
        <p>Tenure: {{ members.tenure }}</p>
        <p>Hometown: {{ members.birthplace }}</p>
        <p>Birthdate: {{ members.birthdate }}</p>
      </div>
      <div>
        <p>{{ members.text | safe }}</p>
      </div>
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}
