{% extends '_layouts/base.njk' %}

{% block content %}
<div class="jumbotron banner text-center">
  <h1>Albums</h1>
</div>
<article class="container">
  <div class="row">
  {% for discography in data.discography%}
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-8">
          <img src="img/discs/{{ discography.image }}" alt="Responsive image" class="img-fluid">
          <h6>{{ discography.image }}</h6>
        </div>
        <div id="details" class="col-sm-4">
          <h2>{{ discography.title }}</h2>
          <p>{{ discography.year }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}
