.jumbotron.banner {
  background: url(../img/queen-band-wallpaper-thin.jpg);
  background-size: cover;
  color: white;
  padding: 250px;
  padding-top: 12rem;
}
.jumbotron {
  margin-bottom: 30px;
}
h1 {
  font-size: 600%;
}