.jumbotron {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding: 125px 25px 175px;
  margin-bottom: 30px;
}
.jumbotron h1 {
  font-size: 400%;
  font-family: "Playfair Display";
}
.tour {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}